# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT
/src/test/test_logs/
/src/common/*.log
/src/test/.pytest_cache/
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
/src/test/pytest_geoserver_data/
